In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [9]:
#Answer 1)

df[1:2]

        course_name  duration
1  Machine Learning         3

In [10]:
#Answer 2

# iloc is used for integer-based indexing and selection. It allows you to select rows and columns by their integer positions, similar to how indexing works in Python lists. With iloc, you specify the row and column positions using integer-based indexing starting from 0.

import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Select the value at row 0, column 1
value = df.iloc[0, 1]
print(value)  # Output: 4

4

In [12]:
# loc is used for label-based indexing and selection. It allows you to select rows and columns based on their labels or index names. With loc, you specify the row and column labels instead of integer positions.

import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['X', 'Y', 'Z'])

# Select the value at row 'Y', column 'B'
value = df.loc['Y', 'B']
print(value)  # Output: 5

5

In [14]:
# Answer 3

import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

print(new_df.loc[2])
print(new_df.iloc[2])

In [ ]:
Answer 4)

# (i) Mean of each and every column
column_means = df1.mean()
print(column_means)

# (ii) Standard deviation of column 'column_2'
column_2_std = df1['column_2'].std()
print(column_2_std)

In [ ]:
Ans 5)

# Replace data in the second row of column 'column_2' with a string variable
df1.loc[2, 'column_2'] = 'String Data'

# Find the mean of column 'column_2'
column_2_mean = df1['column_2'].mean()
print(column_2_mean)

In [ ]:
Ans 6)

Windows functions in pandas refer to operations that operate on a fixed-size moving window of data. They are applied to a specified column or a group of columns in a DataFrame, where calculations are performed over a rolling or expanding window. Common window functions in pandas include rolling(), expanding(), and ewm().

rolling() allows you to perform calculations over a rolling window of a specified size. It is commonly used for moving averages, cumulative sums, or other rolling statistics.
expanding() computes calculations over an expanding window that includes all preceding values. It is useful for calculating cumulative sums, running totals, or other expanding statistics.
ewm() performs exponentially weighted calculations, where more recent values are given higher weightage. It is often used to calculate exponentially weighted moving averages.

In [ ]:
Ans 7)

import pandas as pd

current_date = pd.Timestamp.now()
current_month_year = current_date.strftime('%B %Y')
print(current_month_year)

In [ ]:
Ans 8)

import pandas as pd

date1 = pd.Timestamp(input('Enter the first date (YYYY-MM-DD): '))
date2 = pd.Timestamp(input('Enter the second date (YYYY-MM-DD): '))

time_difference = date2 - date1

print(f'Difference: {time_difference.days} days, {time_difference.seconds // 3600} hours, {time_difference.seconds // 60 % 60} minutes')

In [ ]:
Ans 9)

import pandas as pd

# Prompt the user for file path, column name, and category order
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(",")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the specified column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Display the sorted data
sorted_df = df.sort_values(column_name)
print(sorted_df)

In [ ]:
Ans 10)

import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user for the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Group the data by product category and sum the sales for each category
category_sales = df.groupby('Product Category')['Sales'].sum()

# Plot the stacked bar chart
category_sales.plot(kind='bar', stacked=True)

# Customize the chart
plt.title('Sales by Product Category')
plt.xlabel('Product Category')
plt.ylabel('Sales')

# Display the chart
plt.show()

In [ ]:
Ans 11)

import pandas as pd

# Prompt the user for the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_scores = df['Test Score'].mode()

# Create a table to display the results
result_table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                             'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]})
print(result_table)